.spanBlock {

}

.span {
    color: #0080FF;

    margin-left: 10px;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.input {

}

.pen {
margin-left: 70px;

}